
* {
  box-sizing: border-box;
}
body{
background-color:#FF10F0;
margin-left:20px;
margin-top: 50px;

}
.box {
  float: left;
  width: 25%;
  margin:10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#overflowTest {
  background: #FF10F0;
  color: black;
  padding: 15px;
  width: 90%;
  height: 100px;
  overflow: auto;
  border: 5px solid black;
}

