.my_p1{
    color: blue;

}

span{
    color: orange;
}

.my_a1{
    color: orange;
}
.my_a2{
    color: orange;
}

.my_a3{

    background-color: yellow;
}

.my_s1{

    color: red;
}
.my_a4{
    color: red;
}
.my_li{
    color: blue;
}